



#blog_section {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    width: 80%;
    margin: auto;
}

.title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
}

.blog-container {
    display: flex;
    justify-content: space-between;
}

.blog-card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 48%;
    overflow: hidden;
}

.date {
    background-color: rgb(237, 78, 78);
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 5%;
}

.blog-card img {
    width: 100%;
    height: auto;
    position: relative;
}

.blog-title {
    font-size: 24px;
    margin: 20px;
}

.blog-description {
    font-size: 16px;
    margin: 0 20px 20px;
}
.blog-container .read1{
    width: 90px;
    height: 40px;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: white;
    border-radius: 5px;
    margin-left: 70px;
    margin-top: 30px;
    border: 1px solid red;
}
.blog-container .read1 a{
    text-decoration: none;
    color: red;
}
.blog-container .read2{
    width: 90px;
    height: 40px;
    padding: 10px 20px;
    margin: 10px 0;
    background-color:white;
    border-radius: 5px;
    margin-left: 70px;
    margin-top: 30px;
    border: 1px solid red;
}

.blog-container .read2 a{
    text-decoration: none;
    color: red;
}
/* .read1{
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #555;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 70px;
    margin-top: 30px;
    border: 1px solid white;
}
.read2{
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #555;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 70px;
    margin-top: 30px;
    border: 1px solid white;
} */