

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

#navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* position: fixed; */
    background-color: rgba(16, 14, 14, 0.948);
    z-index: 999;
    /* padding-left: 200px; */
}

#navbar div nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    list-style: none;
    gap: 30px;
    white-space: nowrap;
    font-size: 20px;
    color: white;
}

#navbar nav ul a {
    text-decoration: none;
    color: white;
}

#navbar nav ul li:hover a {
    color: red;
}

h1 a {
    font-size: 40px;
    color: white;
    text-decoration: none;
}

#navbar .icon {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    margin-right: 40px;
    white-space: nowrap;
}

#navbar h1 {
    margin-left: 10px;
}

#navbar.icon a {
    text-decoration: none;
}

#navbar .icon:hover a {
    color: red;
}

.login {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.search {
    color: white;
}

         /* coffee part */
         

#coffee_section .coffee_heading h1 {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #3b3b3b;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;


}


#coffee_section .coffee1 {
    /* width: 100%; */
    float: left;
    background-color: #242c2f;
    height: auto;
    padding: 20px 20px;
}

#coffee_section .coffee1 h3 {
    /* width: 100%; */
    float: left;
    font-size: 22px;
    color: #fefefd;
    text-align: center;
    font-weight: bold;
}

#coffee_section .coffee1 p {
    /* width: 100%; */
    float: left;
    font-size: 14px;
    color: #fefefd;
    text-align: center;
    margin: 0px;
}

#about_coffee .coffee2 {
    width: 150px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    display: flex;
}

#about_coffee1 .coffee4 {
    /* width: 100%; */
    float: left;
    background-color: #242c2f;
    height: auto;
    padding: 20px 20px;
}

#about_coffee1 .coffee4 h3 {
    /* width: 100%; */
    float: left;
    font-size: 22px;
    color: #fefefd;
    text-align: center;
    font-weight: bold;
}

#about_coffee1 .coffee4 p {
    /* width: 100%; */
    float: left;
    font-size: 14px;
    color: #fefefd;
    text-align: center;
    margin: 0px;
}

#about_coffee1 .coffee5 {
    width: 150px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    display: flex;

}

#about_coffee1 .coffee5 a {
    text-decoration: none;
}


#about_coffee {
    border: 0px solid black;

}

#about_coffee1 {
    border: 0px solid black;
}

#about_coffee2 {
    border: 0px solid black;
}

#about_coffee3 {
    border: 0px solid black;
}

#about_coffee2 .coffee7 {
    /* width: 100%; */
    float: left;
    background-color: #242c2f;
    height: auto;
    padding: 20px 20px;
}

#about_coffee2 .coffee7 h3 {
    /* width: 50%; */
    float: left;
    font-size: 22px;
    color: #fefefd;
    text-align: center;
    font-weight: bold;
}

#about_coffee2 .coffee7 p {
    /* width: 50%; */
    float: left;
    font-size: 14px;
    color: #fefefd;
    text-align: center;
    margin: 0px;
}

#about_coffee2 .coffee8 {
    width: 150px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    display: flex;
}

#about_coffee2 .coffee8 a {
    text-decoration: none;
}


#about_coffee3 .coffee10 {
    /* width: 100%; */
    float: left;
    background-color: #242c2f;
    height: auto;
    padding: 20px 20px;
}

#about_coffee3 .coffee10 h3 {
    /* width: 100%; */
    float: left;
    font-size: 22px;
    color: #fefefd;
    text-align: center;
    font-weight: bold;
}

#about_coffee3 .coffee10 p {
    /* width: 100%; */
    float: left;
    font-size: 14px;
    color: #fefefd;
    text-align: center;
    margin: 0px;
}

#about_coffee3 .coffee11 {
    width: 150px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    display: flex;
}

#about_coffee2 .coffee8 a {
    text-decoration: none;
}

#main {
    display: flex;
    justify-content: space-between;
    padding-right: 1px;
    padding-top: 45px;
}


/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: 20px;
}
*/
.coffee_heading h1 {

    margin-left: 600px;
    font-size: 2em;
    margin-bottom: 30px;
    font-weight: bolder;
}

.coffee-offers {
    display: flex;
    justify-content: center;
    /* Center the items */
    flex-wrap: wrap;
    /* Allow items to wrap */
    row-gap: 40px;
    /* Space between rows */
}

.offer {
    background-color: #333;
    color: #fff;
    width: 300px;
    height: 450px;
    margin: 10px;
    /* border-radius: 10px; */
    overflow: hidden;
    /* Prevent overflow */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.offer:hover {
    background-color: red;
    transition: all ease 1s;
}

.offer img {
    width: 100%;
    /* Make image fill the container */
    height: auto;
    /* Maintain aspect ratio */
}

h2 {
    font-size: 1.5em;
    margin: 10px 0;
    padding-left: 45px;
    font-weight: bolder;
}

p {
    /* font-size: 20px; */
    padding: 0 10px;
    margin: 0;
    padding-left: 45px;
}

.read-more {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #555;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 70px;
    /* padding-left: 50px; */
    margin-top: 30px;
    border: 1px solid white;
}


.coffee-offers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-top: 35px;

}

.coffee-offers .arrow_class1 {
    border: 0px solid black;
    width: 50px;
    height: 50px;
    background-color: #555;
    display: flex;
    justify-content: center;
    flex: nowrap;

}

.coffee-offers .arrow_class1 a {
    text-decoration: none;
    color: white;
    background-color: #555;
    display: flex;
    justify-content: center;
    padding-top: 15px;


}

.coffee-offers .arrow_class1:hover {
    background-color: red;
    transition: 0.8s;
}

.coffee-offers .arrow_class1:hover a {
    color: white;
    background-color: red;
    transition: 0.8s;

}

.coffee-offers .arrow_class2 {
    border: 0px solid black;
    width: 50px;
    height: 50px;
    background-color: #555;
    padding-top: 15px;
}



.coffee-offers .arrow_class2 a {
    text-decoration: none;
    color: white;
    background-color: #555;
    display: flex;
    justify-content: center;


}

.coffee-offers .arrow_class2:hover {
    background-color: red;
    transition: 0.8s;
}

.coffee-offers .arrow_class2:hover a {
    color: white;
    background-color: red;
    transition: 0.8s;

}

#gridmain .coffee-offers{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* grid-template-columns: repeat(8,300px); */
    /* scrollbar-width: none; */
    overflow-x:scroll;
}

#gridmain .coffee-offers .offer{
    width: 100%;
    height: 500px;
    border: 1px solid black;
}

