
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
#navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* position: fixed; */
    background-color:rgba(16, 14, 14, 0.948);
    z-index: 999;
/* padding-left: 200px; */
}

#navbar div nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    list-style: none;
    gap: 30px;
    white-space: nowrap;
    font-size: 20px;
    color:white;
}

#navbar nav ul a{
    text-decoration: none;
    color: white;
}
#navbar nav ul li:hover a {
  color: red;
}

h1 a{
    font-size: 40px;
    color: white;
    text-decoration: none;
}

#navbar .icon{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    margin-right: 40px;
    white-space: nowrap;
}

#navbar h1{
    margin-left: 10px;
}
#navbar.icon a{
    text-decoration: none;
}
#navbar .icon:hover a{
    color: red;
}

  .login{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.search{
    color: white;
}



/* -----MAIN PART STARTS HERE---- */


#home {
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-image: url(https://tse1.mm.bing.net/th?id=OIP.phATIQWSl0faEXVixpiveAHaDn&pid=Api&P=0&h=180);
    background-size: cover;
    /* border: 1px solid black; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-left: 20px;
}

#home h1{
    /* position: absolute; */
    color: white;
    font-size: 80px;
}

.banner{

    padding-left: 80px;
}


#home div .coffee {
   
    font-size: 110px;
    color: white;
    font-weight: 800;
    line-height: 120px;
    /* position: relative; */
    /* padding: 10px; */
}
.para{
   color: white;
   /* float: left; */
   font-size: 20px;
   margin: 20px 0px 0px;
}


#button{
    /* width: 100%; */
    /* float: left; */
    /* padding-top: 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.about a{
    color: white;
    background-color: red;
    text-decoration: none;
    
}
.about{
  width: 140px;
  height: 50px;
  float: left;
  border: 0px solid black;
  border-color: red;
  background-color: red;
  text-align: center;
  border-width: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-top: 5px;
}

.call{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 50px;
    float: left;
    background-color: white;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 5px;
}
.call a{
    text-decoration: none;
    background-color:white;
    color: black;
 
}
#button .call:hover{
    background-color: red;
    transition: 1s;
}

 #button .call:hover a{
    background-color: red;
    color: white;
     background-size: cover;
     transition: 1s;
    
}
#arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-top: 35px;
    
}
#arrow .arrow_class1{
    border: 1px solid black;
    width: 46px;
    height: 45px;
background-color: white;
display: flex;
justify-content: center;
flex: nowrap;

}
#arrow .arrow_class1 a{
  text-decoration: none;
  color:grey;
  background-color:white;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  

}
#arrow .arrow_class1:hover{
    background-color: red;
    transition: 0.8s;
}

#arrow .arrow_class1:hover a{
    color: white;
    background-color: red;
   transition: 0.8s;

}

#arrow .arrow_class2{
    border: 1px solid black;
    width: 45px;
    height: 45px;
    background-color:red ;
    padding-top: 15px;
}



#arrow .arrow_class2 a{
    text-decoration: none;
    color:white;
    background-color:red;
    display: flex;
    justify-content: center;
    
  
  }


/* ABOUT SECTION STARTS HERE. */

#about_section{
    width: 100%;
    height: 700px;
    /* border: 0px solid white; */
    
}

#about_section .heading{
    padding-left: 60px;
    padding-top: 80px;
    
}


#head{
    display: flex;
    justify-content: center;
    float: left;
    padding-right: 90px;
    padding-left: 80px;
    padding-top: 50px;
}
.heading h2{
    font-size:30px;
    width: 100%;
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    

}

.heading h5{
    font-size: 20px;
    color: rgb(73, 69, 69);
    
}
.heading p{
    font-size: 20px;
    float: left;
    font-weight: lighter;
    font-family: serif;
    color: #232222;

}

 .heading a{
    width: 150px;
    height: 50px;
    padding-top: 15px;
    padding-left: 29px;
    border:1px solid red ;
    text-decoration: none;
    float: left;
    color: red;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

.heading a:hover{
    color: black;
    /* border-color: black; */
    background-color: red;
}


#coffee_section h1{
    width: 100%;
    float: left;
    font-size: 40px;
    color: #3b3b3b;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    
}


#coffee_section  .coffee1{
    width: 100%;
    float: left;
    background-color: #242c2f;
    height: auto;
    padding: 20px 20px;
}

#coffee_section .coffee1 h3{
    width: 20%;
    float: left;
    font-size: 22px;
    color: #fefefd;
    text-align: center;
    font-weight: bold;
}

#coffee_section .coffee1 p{
    width: 100%;
    float: left;
    font-size: 14px;
    color: #fefefd;
    text-align: center;
    margin: 0px;
}